
.swiper-button-next,
.swiper-button-prev {
    background-color: rgb(183, 174, 174);
    background-color: rgba(217, 203, 203, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 10px;
}






